@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Inter";
  background-color: black;
  color: white;
  margin: 0;
}

span {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 200;
}

p {
  font-family: monospace;
  font-size: larger;
}

#menu-parent {
  display: flex;
  justify-content: center;
}

#menu {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 24px;
  scroll-target-group: auto;
  a:target-current{
    color: rgb(255, 255, 255);
  }
  /* From https://css.glass */
  background: rgba(35, 35, 35, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

#menu > * {
  padding: 0px 10px;
  color: rgb(169, 169, 169);
  transition: 0.3s;
  text-decoration: none;
}

#menu > *:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#welcome {
  box-shadow: 0px 0px 200px #a827b7;
  border-radius: 32px;
}

#price {
  font-size: 200px;
  text-shadow: 0px 0px 80px #a827b7;
}

#scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#intro > div {
  height: 100dvh;
  box-sizing: border-box;
  padding: 52px;
  scroll-snap-align: center;
  display: flex;
  flex-wrap: wrap;
  border: rgb(51, 51, 51) 1px solid;
  justify-content: center;
  align-items: center;
}

#features > div {
  scroll-snap-align: center;
  display: flex;
  border: rgb(51, 51, 51) 1px solid;
  margin: 200px 60px;
  justify-content: center;
  align-items: center;
}

#features > div > article {
  box-sizing: border-box;
  padding: 12px 72px;
}

#features > div > img {
  width: 40dvw;
  height: 40dvh;
  flex-shrink: 0;
  object-fit: cover;
}

#pricing > div {
  scroll-snap-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: rgb(51, 51, 51) 1px solid;
}

.break {
  flex-basis: 100%;
}

@media (max-width: 700px) {
  #features > div > div {
    width: 100%;
  }
  #features > div > div > img {
    width: 100%;
  }
}
